.all-trips-container {
  text-align: center;
}

.trip-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.trip-card {
  width: calc(25% - 20px);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.trip-card h3 {
  margin-top: 0;
}

.trip-card p {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .trip-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .trip-card {
    width: calc(100% - 20px);
  }
}

.trip-card p:nth-child(5) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.join {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search__bar {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: max-content;
  margin-top: 20px;
  margin-left: auto; /* Center the search bar horizontally */
  margin-right: auto; /* Center the search bar horizontally */
}